/* wrap profile cards with this */
.userslist {

}


/* Profile card */
.profilecard {
    border: 1px solid black;
    width: 25%;
    padding: 15px 25px;
    
} 

/* buttons */
.buttons{
    background-color: #2E0001;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px 8px;
  
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /* ========================================= ============================ */

  /* social media icons  */

  .socialmedia {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0 3rem 0;
  }
  .socialmedia li{
    margin: 0 10px;
  }
  
  .socialmedia a:hover{
    color: darkslategrey;
  }

  /* colors */
 .colors{
      background-color: #E9DAC1;
      background-color: #2E0001;
      background: #460000;

      /* body{
        background-image: linear-gradient(240deg, #E9DAC1,#E9DAC1, white, white, white); 
        height: 100vh;
      } */

 }
/* login/signupform */
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* in case I need a separate tag for the form */
  background: rgba(255, 255, 255, 0.06);
  padding: 3em;
  height: 320px;
  border-radius: 10px;
  border-left: 2px rgba(255, 255, 255, 0.03);
  border-top: 2px rgba(255, 255, 255, 0.03);
  /* backdrop-filter: blur(10px);  test on home page */
  box-shadow: 10px 10px 40px -6px;
  text-align: center;
  
  }

  /* navbar */

  .nav{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    margin: auto;
    padding-left: 60%;
    background-color: #2E0001;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
  }



 /* ///////////////////////////////* Chat */

 @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #sender {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #2E0001;
}
.hide {
  opacity: 0 !important;
}