/* wrap profile cards with this */
.userslist {

}


/* Profile card */
.profilecard {
    border: 1px solid black;
    width: 25%;
    padding: 15px 25px;
    
} 

/* buttons */
.buttons{
    background-color: #2E0001;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px 8px;
  
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /* ========================================= ============================ */

  /* social media icons  */

  .socialmedia {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0 3rem 0;
  }
  .socialmedia li{
    margin: 0 10px;
  }
  
  .socialmedia a:hover{
    color: darkslategrey;
  }

  /* colors */
 .colors{
      background-color: #E9DAC1;
      background-color: #2E0001;
      background: #460000;

      /* body{
        background-image: linear-gradient(240deg, #E9DAC1,#E9DAC1, white, white, white); 
        height: 100vh;
      } */

 }
/* login/signupform */
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* in case I need a separate tag for the form */
  background: rgba(255, 255, 255, 0.06);
  padding: 3em;
  height: 320px;
  border-radius: 10px;
  border-left: 2px rgba(255, 255, 255, 0.03);
  border-top: 2px rgba(255, 255, 255, 0.03);
  /* backdrop-filter: blur(10px);  test on home page */
  box-shadow: 10px 10px 40px -6px;
  text-align: center;
  
  }

  /* navbar */

  .nav{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    margin: auto;
    padding-left: 60%;
    background-color: #2E0001;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .topnav a {
    float: left;
    color: #2E0001;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.4s;
  }
