
/* Profile */
.profileList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profileCard {
    border: 1px solid gray;
    width: 25%;
    padding: 15px 25px;
    
} 
.cardimg{
  width: 150px;
}

/* buttons */
.buttons{
    background-color: #2E0001;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px 8px;
  
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /* ========================================= ============================ */

  /* social media icons  */

  .socialmedia {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0 3rem 0;
  }
  .socialmedia li{
    margin: 0 10px;
  }
  
  .socialmedia a:hover{
    color: darkslategrey;
  }


/* login/signupform */
.form{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* in case I need a separate tag for the form */
background: rgba(255, 255, 255, 0.06);
padding: 3em;
height: 320px;
border-radius: 10px;
border-left: 2px rgba(255, 255, 255, 0.03);
border-top: 2px rgba(255, 255, 255, 0.03);
/* backdrop-filter: blur(10px);  test on home page */
box-shadow: 10px 10px 40px -6px;
text-align: center;

}

  form{
    padding-top: 30% ;
  }
 

  /* navbar */

  .nav{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    margin: auto;
    padding-left: 60%;
    /* background-color: #2E0001; */
    overflow: hidden;
    border-radius: 4px;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .topnav a {
    float: left;
    color: #2E0001;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.4s;
  }
  
  .name{
    font-size:1.3rem;
    font-weight:500;
    color:#444;
  }

  .details{
    color:#888;
    font-size:0.9rem;
    padding-bottom:7px;
  }

  
  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 300px;
    max-width: 1000px;
  }

  .raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);

}

input[type=text] {
  border: none;
  border-bottom: 2px solid gray;
}

input[type=password] {
  border: none;
  border-bottom: 2px solid gray;
}


button {
  background:#460000;
  color: #FFF6EA;
  border: 2px solid;
  border-radius: 5px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

body {
  background-image: url("../public/WhatsApp\ Image\ 2022-05-11\ at\ 10.29.43\ AM.jpeg");
}

